body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  color: #721b65;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #721b65;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #2c003e;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}

hr{
  border: dotted #d8b9c3 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #6a097d;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

.top-container{
  background-color: #f7f7f7;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.photo{
  margin-right: 30px;
  width: 30%;
  float: left;
}

.badminton{
  margin-left: 30px;
  width: 30%;
  float: right;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #b590ca;
  padding: 50px 0 20px;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
	background-color:#7a0b96;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
text-indent:0;
	border:2px solid #1c0126;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
height:44px;
	line-height:44px;
width:151px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 7px 16px #802eb0;
}.btn:hover {
	background-color:#943ccf;
}.btn:active {
	position:relative;
	top:1px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}
